.buttons {
    width: 100%;
    text-align: center;
  }
  
  img {
      max-width: 35%;
      height: auto;
      margin: 0 auto;
  }
  
  .headers {
    width: 100%; 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .buttons button {
    width: 20%;
    text-align: center;
    margin: 5px;
  }
  
  .images {
    width: 100%; 
    text-align: center;
    margin-top: 10px;
  }

  .flourish-container {
    display: flex;
    justify-content: center;
  }

  .flourish-embed.flourish-map {
    width: 30%;
    height: auto;
  }

  .flourish-embed.flourish-parliament {
    width: 25%;
    height: auto;
  }
  
  .flourish-embed {
    display: none;
  }